body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.hero-section {
    background: red;
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    background: blue;
    
}